@{
  Layout = "_Layout";
}

<h1>Welcome University Registrar!</h1>

<p>@Html.ActionLink("See All Departments", "Index", "Departments")</p>
<p>@Html.ActionLink("See All Students", "Index", "Students")</p>
<p>@Html.ActionLink("See All Courses", "Index", "Courses")</p>
<p>@Html.ActionLink("See All Enrollments", "Index", "Enrollments")</p>