@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Department

<h2>Add a department</h2>

@using (Html.BeginForm())
{
  <div class="mb-3">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { required = "required" })
  </div>

  <input type="submit" value="Add department" />
}

<p>@Html.ActionLink("Back to Department List", "Index")</p>
<p>@Html.ActionLink("Go Back Home", "Index", "Home")</p>